.indexCategoryBox {
    width: 100%;
    overflow-x: scroll;
    padding: 9px 12px;
    box-sizing: border-box;
    box-shadow: -2px 0 4px -2px rgba(0, 0, 0, .15) inset;
    margin-bottom: 5px;
}
.indexCategoryBox::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
.indexCategoryBox::-webkit-scrollbar-thumb {/*滚动条里面轨道*/
    width: 100px;
    background: rgba(0, 0, 0, .07);
    border-radius: 5px;
}
.indexCategoryCard {
    list-style: none;
    white-space:nowrap;
}
.icc-item {
    display: inline-block;
    width: 195px;
    height: 88px;
    box-sizing: border-box;
    padding: 14px 14px;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, .15);
    margin-right: 16px;
    font-size: 17px;
    color: rgba(0, 0, 0, .6);
    font-weight: bold;
    transition: all .2s;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.icc-item:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: pink;
    top: 0;
    transition: all .35s;
    transform: translate(3px,0);
    z-index: -1;
}
.icc-item:hover {
    color: hsla(0, 0%, 100%, .8);
    text-shadow: 0 1px 5px rgba(0, 0, 0, .15);
}
.icc-item:hover:after {
    transform: translate(100%,0);
}

/* 原有元素修改 */
.page-card:first-child {
    margin-top: 0;
}

.icc-num {font-size: 14px;margin-top: 6px;margin-bottom: 3px;font-weight: 400;}
.ca-description {
    color: white;
    font-size: 13px;
    margin-top: 5px;
}

.pagefile {
    background: white;
    position: relative;
    z-index: 99;
    box-sizing: border-box;
    padding: 32px 22px;
    border-radius: 5px;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .15);
    min-height: 400px;
}
.archives ul {list-style: none}
.pf_year {font-size: 26px;font-weight: 400;color: rgba(0, 0, 0, .72)}
.pf_mon {font-size: 18px;margin: 12px 0 14px 0}
.pf_mon_list {margin: 18px 24px;color: rgba(0, 0, 0, .7)}
.pf_post_list {box-sizing: border-box;padding-left: 14px;border-left: 1px solid rgba(0, 0, 0, .12)}
.pf_post_list li {line-height: 1.55;color: rgba(0, 0, 0, .65)}
.pf_mon_list li a {color: #8ec5fc;font-weight: 600;letter-spacing: 1px}


@media screen and (max-width : 600px){
    .indexCategoryBox::-webkit-scrollbar {
        height: 0;
    }
    .indexCategoryBox {margin-bottom: 0}

    /* 原有元素修改 */
    body {padding-top: 0}
    .blogBody {padding-top: 0}
    .sql-data {margin-top: 0}
    .an {position: relative}
    .cardList {padding: 2px 0}
    .nP-iImg {height: 72px;}
    .start {box-shadow: none !important;border-radius: 0 !important}
    .blogBody .page-title {
        opacity: 0;
    }
}